body {
  background-color: rgb(232 223 203);
  text-align: center;
  font-family: "Syne", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  width: 100%;
}

.DINAJ {
  background-image: url("images/Header_TRNSPRNT.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20em;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Instruction {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: navy;
}
input {
  position: relative;
  justify-content: center;
  display: inline-flex;
}
.Button {
  position: relative;
  justify-content: center;
  display: inline-flex;
  color: white;
  background-color: rgb(20, 233, 80);
  border-radius: 20px 20px 20px 20px;
}

.extended-report {
  display: none;
}

.extended-report__list {
  list-style-type: none;
  font-size: large;
  padding: 0;
}

.extended-report__item {
  display: flex;
  gap: 4px;
}

h2 {
  font-size: 30px;
  color: orange;
}

P {
  font-size: large;
}
.loading-spinner {
  font-size: 50px;
  font-weight: bold;
  color: gray;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(247, 241, 229);
  }
  p {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    background-color: rgb(234, 218, 186);
  }
}

@media only screen and (min-width: 901px) {
  .extended-report {
    display: block;
  }
  p {
    border: dotted white 5px;
  }
}
